{% include "admin-header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto py-4">
            <div class="card-body p-4 p-sm-5">
                <h1 class="fw-bolder card-title text-center mb-5 fw-light ">Edit</h1>

                {{ ckeditor.load() }}
                {{ ckeditor.config(name='body') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
